@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #131316;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.hn-hidden {
    opacity: 0;
    transition: all 0.5s;
    transform: translateX(75px);
}

.hn-show {
    opacity: 1;
    transform: translate(0, 0)
}

.table tr td{
        padding: 1rem;
        font-size: 2rem;
}